body {
    background-color: #fdf5e6;
    color: #556b2f;
    font-family: "Arsenal", sans-serif;
}

a {
    color: #556b2f;
}

main {

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 60px;
    font: weight: 600;
    line-height: 110%;
    letter-spacing: -2px;
}

h2 {
    background-color:#808000;
    color: #fdf5e6;
    padding: 16px;
    border-radius: 16px;
}

h3 {
    font-size: 28px;
    background-color:#808000;
    color: #fdf5e6;
    padding: 16px;
    border-radius: 16px;
}

h4 {font-size: 24px;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: 0.5px;
}

p {
    font-size: 16px;
}

intro-paragraph {
    color: #556b2f
    font-style: italic;
    font-size: 20px;
}

.bolder {
    font-weight: 800;
}

.fancy {
    color: #808000;
    font-style: italic;
    font-weight: 100;
    color:#808000;
    letter-spacing: 3px;
    text-shadow: 2px 2px #556b2f;
    font-family: "Danfo", serif; ;
}

a {
    color: #556b2f
    text-decoration: italic;
    
}

a:hover {
    color: #808000;
    font-style: italic;
    font-size: 16px;
}

ul {
    list-style-type: disc;
}
    
li::marker {
  color: #808000;
}
